<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 控制MyBatis全局行为 -->
    <settings>
        <!-- 设置MyBatis输出日志 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <!-- 设置别名 -->
    <typeAliases>
        <package name="entity"/>
    </typeAliases>

    <!-- 设置sql映射文件的位置 -->
    <mappers>
        <package name="mapper"/>
    </mappers>

</configuration>